<!-- filepath: /Users/ibrahim/projects/ibzsy.github.io/themes/etch/layouts/partials/books.html -->
<h3>books</h3>
<h4>book i'm currently reading</h4>
<ul id="books">
    {{- range .Site.Data.goodreads_books.current_book }}
    <li>
        <a href="{{ .link }}">
            {{ .title }}
        </a>
        by <i>{{.author}}</i>
    </li>
    {{- end }}
</ul>
<h4>most recent books i've read</h4>
<ul id="books">
    {{- range .Site.Data.goodreads_books.read_books }}
    <li>
        <a href="{{ .link }}">
            {{ .title }}
        </a>
         by <i>{{.author}}</i>
    </li>
    {{- end }}
</ul>