<script>
    var options = {
        timeZone: 'Europe/London',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
    }
    formatter = new Intl.DateTimeFormat([], options);

    const updateDateTime = () => {
        document.getElementById('output').innerHTML = formatter.format(new Date());
    }

    window.onload = updateDateTime
    setInterval(updateDateTime, 1000);
</script>


<header id="banner">
    <div style="display: flex; align-items: center; ">
        <h2>
            <a href="{{ .Site.BaseURL }}"><u>{{ .Site.Title }}</u></a>
        </h2>
        <p id="output" style="justify-content: left; margin-left: auto;"></p>
    </div>
</header>